{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    About Us
{% endblock page_title %}

{% block about_active %}
    active
{% endblock about_active %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css_links %}


{% block content %}
<section class="headline">
    <h1>Helping people through the power of documents !</h1>
</section>
        <!-- about us contents -->
    
        <h2 style="margin-top: 35px; text-align: left; margin-left: 10px;">What is Online Government Document System?</h2>
        
        <div>
            
            <div style="display:inline-block;flex: 0 85%;"><!-- Added CSS here -->
                <p>Online Government Document System is an online portal set up in order to provide services to residents of Ahmedabad. 
                    This portal provides two types of certificates <strong>Income Certificate</strong> and <strong>Non Creamy Layer Certificate</strong> 
                    All the services will be covered in a section later.
                    Here,we are going to tell you everything you need to know about Digital Gujarat and how it can benefit you.</p>
                    
                    
                    
                    
                </p>
            </div>
        </div>
        
        <div >
            <h2 style="margin-top: 35px; text-align: left; margin-left: 10px;">What are the Benefits of Using Government Document Portal?</h2>
            <div style="display:inline-block;flex: 0 85%;"><!-- Added CSS here -->
                
                <li>Availing of services.</li>
                <li>All the services come under a single portal.</li>
                <li>Easy and quick user registration.</li>
                <li>Everything is done online and the delivery of services is really fast.</li>
                
                
                
            </div>
        </div>
        
        <div >
        <h2 style="margin-top: 35px; text-align: left; margin-left: 10px;">What are the Requirements to Register in Digital Gujarat Portal?</h2>
        
        <div style="display:inline-block;flex: 0 85%;"><!-- Added CSS here --> 
            <p>Any person who is a citizen of Ahmedabad can easily register on the Government Documents portal and benefit from its services. However, if you are not a citizen of Ahmedabad, you will not be able to take advantage of these services because these services are available for the people of Ahmedabad only. If you are a citizen of Ahmedabad, then you just need to register on the portal and you can use any service you wish to.</p><br>
            <p>When you register with the portal then you need to provide your personal information such as name,contact number,e-mail id and any information that may be required by us for allowing you to access for availing the services.</p>
            
            
        </div>
    </div>
    
    
    
{% endblock content %}