{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Income Certificate
{% endblock page_title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/income_certificate.css' %}">
{% endblock css_links %}
{% block content %}
<section class="headline">
    <h1>Income Certificate</h1>
</section>



<!-- form -->

         <!-- contents -->
    <form method="POST" action="Income_Certificate" enctype="multipart/form-data">
        
        {% if success_message %}
        <p style="color:black">{{success_message}}</p>
        {% else %}
        {{form.as_p}}
        {{error_message}}
        {% endif %}
        {% csrf_token %}
        
        <ul class="flex-outer">
            <!-- <h1 style="color: black;">Income Certificate</h1>-->
            
            
            <li><label for="applicantsname">Applicant_Name</label>
                <input type="text" id="applicantsname" name="Applicant_Name" placeholder="Enter applicant's name here" >
            </li>
            
            <li>
                <label for="address">Applicant_Address</label>
                <textarea id="address" rows="5" rows="9" name="Applicant_Address" placeholder="Enter applicant's address" ></textarea>
            </li>
            <li>
                <label for="naddress">Native_Address</label>
                <input type="text" id="naddress" name="Native_Address" placeholder="Enter native address here" >
            </li>
            
            <li>
                <label for="applicantsname">Occupation_Details</label>
                <input type="text" id="applicantsname" name="Occupation_Details" placeholder="Enter your occupation here" >
            </li>
            <li>
                <label for="familymembers">Total_Family_Members</label>
                <input type="number" id="familymembers" name="Total_Family_Members" placeholder="Enter your family members here" >
            </li>
            
            <li>
                <label for="fam_income">Family_Annual_Income</label>
                <input type="number" id="fam_income" name="Family_Annual_Income" placeholder="Enter annual income here" >
            </li>
            <li>
                <label for="fam_mem_income">No_Of_Family_Members_Earning</label>
                <input type="number" id="fam_mem_income" name="No_Of_Family_Members_Earning" placeholder="Enter no Of family members earning" >
            </li>
            <li>
                <label for="message">Annual_Average_Electricity_Bill</label>
                <input type="number" id="elec_bill" name="Annual_Average_Electricity_Bill" placeholder="Enter avg electricity bill" >
            </li>
            
            <!--Second form-->
            <li>
                <label for="fam_mem1_name">Family_Member1_Name </label>
                <input type="text" id="fam_mem1_name" name="Family_Member1_Name" placeholder="Enter family member1 name here" >
            </li>
            
            <li>
                <label for="relation">Relation_With_Applicant1 </label>
                <input type="text" id="relation" name="Relation_With_Applicant1" placeholder="Enter realtion with applicant1" >
            </li>
            <li>
                <label for="occupation">Age_1</label>
                <input type="number" id="Age_1" name="Age_1" placeholder="Enter age here" >
            </li>
            
            <li>
                <label for="occupation">Occupation_1</label>
                <input type="text" id="occupation" name="Occupation_1" placeholder="Enter occupation_1 here" >
            </li>
            <li>
                <label for="income1">Annual_Income_1</label>
                <input type="number" id="income1" name="Annual_Income_1" placeholder="Enter annual income1 here" >
            </li>
            <li>
                <label for="fam_mem2_name">Family_Member2_Name </label>
                <input type="text" id="fam_mem2_name" name="Family_Member2_Name" placeholder="Enter family member2 name here" >
            </li>
            <li>
                <label for="relation2">Relation_With_Applicant2 </label>
                <input type="text" id="relatio2" name="Relation_With_Applicant2" placeholder="Enter realtion with applicant2" >
            </li>
            
            <li>
                <li>
                    <label for="occupation">Age_2</label>
                    <input type="number" id="Age_2" name="Age_2" placeholder="Enter age here" >
                </li>
                
                <li>
                    <label for="occupation">Occupation_2</label>
                    <input type="text" id="occupation" name="Occupation_2" placeholder="Enter occupation_2 here" >
                </li>
                <li>
                    <label for="income2">Annual_Income_2</label>
                    <input type="number" id="income1" name="Annual_Income_2" placeholder="Enter annual income2 here" >
                </li>
                <li>
                    <label for="relation2">Relation_With_Applicant3 </label>
                    <input type="text" id="relatio2" name="Relation_With_Applicant3" placeholder="Enter realtion with applicant2" >
                </li>
            <li>
                <!-- <p>Age_3</p> -->
                <li>
                    <label for="occupation">Age_3</label>
                    <input type="number" id="Age_3" name="Age_3" placeholder="Enter age here" >
                </li>
        
                <li>
                    <label for="occupation">Occupation_3</label>
                    <input type="text" id="occupation" name="Occupation_3" placeholder="Enter occupation_1 here" >
                </li>
                <li>
                    <label for="income1">Annual_Income_3</label>
                    <input type="number" id="income1" name="Annual_Income_3" placeholder="Enter annual income1 here" >
                </li>
                <li>
                    <label for="aadharcardno">Aadhar_Card_Number</label>
                    <input type="number" id="aadharcardno" name="Aadhar_Card_Number" placeholder="Enter aadhar card number here" >
                </li>
                <li>
                    <label for="aadharcardimg">Aadhar_Card_Image</label>
                    <input type="file" id="aadharcardimg" name="Aadhar_Card_Image" >
                </li>
                <li>
                <label for="rationcardno">Ration_Card_Number</label>
                <input type="text" id="aadharcardno" name="Ration_Card_Number" placeholder="Enter ration card number here" >
            </li>
            <li>
                <label for="rationcardimg">Ration_Card_Image</label>
                <input type="file" id="rationcardimg" name="Ration_Card_Image" >
            </li>
            <li>
                <label for="elec_bill_no">Electricity_Bill_Number</label>
                <input type="number" id="elec_bill_no" name="Electricity_Bill_Number" placeholder="Enter electricity bill number here" >
            </li>
            <li>
                <label for="elec_bill_img">Electricity_Bill_Image</label>
                <input type="file" id="rationcardimg" name="Electricity_Bill_Image" >
            </li>
            <li>
                <label for="elec_card_no">Election_Card_Number</label>
                <input type="text" id="elec_card_no" name="Election_Card_Number" placeholder="Enter election card number here" >
            </li>
            <li>
                <label for="elec_card_img">Election_Card_Image</label>
                <input type="file" id="elec_card_img" name="Election_Card_Image" >
            </li>
            <li>
                <label for="witness1">Witness1_Full_Name</label>
                <input type="text" id="witness1" name="Witness1_Full_Name" placeholder="Enter witness1 full name" >
                
            </li>
            <li>
                <!-- <p>Witness_1_Age</p> -->
                <label for="occupation">Witness_1_Age</label>
                <input type="number" id="Age_1" name="Witness1_Age" placeholder="Enter witness 1 age here" >
            </li>
          
            <li>
                <label for="witness1occupation">Witness1_Occupation_Details</label>
                <input type="text" id="witness1occupation" name="Witness1_Occupation_Details" placeholder="Enter witness1 occupation " >
                
            </li>
            <li>
                <label for="witness1address">Witness1_Permanent_Address</label>
                <textarea id="address" rows="5" rows="9" name="Witness1_Permanent_Address" placeholder="Enter witness1 address" ></textarea>
            </li>
            <li>
                <label for="w1_aadharcardno">Witness1_Aadhar_Card_Number</label>
                <input type="number" id="w1_aadharcardno" name="Witness1_Aadhar_Card_Number" placeholder="Enter witness1 aadharcard number here" >
            </li>
            
            <li>
                <label for="w1_aadharcardimg">Witness1_Aadhar_Card_Image</label>
                <input type="file" id="aadharcardimg" name="Witness1_Aadhar_Card_Image" >
            </li>
            
            <li>
                <label for="w1_sign_img">Witness1_Signature_Image</label>
                <input type="file" id="w1_sign_img" name="Witness1_Signature_Image" >
            </li>
            
            
            
            <li>
                <label for="witness2">Witness2_Full_Name</label>
                <input type="text" id="witness2"  name="Witness2_Full_Name" placeholder="Enter witness2 full name" >
                
            </li>
            <li>
                <!-- <p>Witness_2_Age</p> -->
                <label for="occupation">Witness2_Age</label>
                <input type="number" id="Age_1" name="Witness2_Age" placeholder="Enter witness 2 age here" >
            </li>
            
            <li>
                <label for="witness2occupation">Witness2_Occupation_Details</label>
                <input type="text" id="witness2occupation" name="Witness2_Occupation_Details" placeholder="Enter witness2 occupation " >
                
            </li>
            <li>
                <label for="witness2address">Witness2_Permanent_Address</label>
                <textarea id="address" rows="5" rows="9" name="Witness2_Permanent_Address" placeholder="Enter witness2 address" ></textarea>
            </li>
            <li>
                <label for="w2_aadharcardno">Witness2_Aadhar_Card_Number</label>
                <input type="number" id="w2_aadharcardno"name="Witness2_Aadhar_Card_Number" placeholder="Enter witness2 aadharcard number here" >
            </li>
            
            <li>
                <label for="w2_aadharcardimg">Witness2_Aadhar_Card_Image</label>
                <input type="file" id="aadharcardimg" name="Witness2_Aadhar_Card_Image" >
            </li>
            
            <li>
                <label for="w2_sign_img">Witness2_Signature_Image</label>
                <input type="file" id="w2_sign_img" name="Witness2_Signature_Image" >
            </li>
            
            <li>
                <label for="app_sign_img">Applicant_Signature_Image</label>
                <input type="file" id="app_sign_img" name="Applicant_Signature_Image" >
            </li>
            <li>
                <label for="app_passport_img">Applicant_Passport_Size_Image</label>
                <input type="file" id="app_passport_img" name="Applicant_Passport_Size_Image" >
            </li>
            <li>
                <label for="app_date">Date_Of_Application</label>
                <input type="date" id="app_date" name="Date_Of_Application" >
            </li>
            
            <li>
                <label for="self_dec_sign_img">Self_Declaration_Certificate_Image</label>
                <input type="file" id="self_dec_sign_img" name="Self_Declaration_Certificate_Image" >
            </li>
            
        </ul>
        
        
        <button class="button1" type="submit">Submit</button>
        <button class="button2" type="reset">Reset</button>
        
        
    </form>
{% endblock content %}