{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/printing_data.css' %}">
    <title>Print Your Application</title>
</head>

<section class="headline">
  <h1>Income Certificate</h1>
</section>

<!-- form -->

<!-- contents -->
<form>
  {% if success_message %}
  <p style="color: black">{{success_message}}</p>
  {% else %} {{error_message}} {% endif %}
  <ul class="flex-outer">
    <!-- <h1 style="color: black;">Income Certificate</h1>-->

    <li>
      <label for="applicantsname">Applicant_Name</label>
      <p>{{income_form.Applicant_Name}}</p>
    </li>

    <li>
      <label for="address">Applicant_Address</label>
      <p>{{income_form.Applicant_Address}}</p>
    </li>
    <li>
      <label for="naddress">Native_Address</label>
      <p>{{income_form.Native_Address}}</p>
    </li>

    <li>
      <label for="applicantsname">Occupation_Details</label>
      <p>{{income_form.Occupation_Details}}</p>
    </li>
    <li>
      <label for="familymembers">Total_Family_Members</label>
      <p>{{income_form.Total_Family_Members}}</p>
    </li>

    <li>
      <label for="fam_income">Family_Annual_Income</label>
      <p>{{income_form.Family_Annual_Income}}</p>
    </li>
    <li>
      <label for="fam_mem_income">No_Of_Family_Members_Earning</label>
      <p>{{income_form.No_Of_Family_Members_Earning}}</p>
    </li>
    <li>
      <label for="message">Annual_Average_Electricity_Bill</label>
      <p>{{income_form.Annual_Average_Electricity_Bill}}</p>
    </li>

    <!--Second form-->
    <li>
      <label for="fam_mem1_name">Family_Member1_Name </label>
      <p>{{income_form.Family_Member1_Name}}</p>
    </li>

    <li>
      <label for="relation">Relation_With_Applicant1 </label>
      <p>{{income_form.Relation_With_Applicant1}}</p>
    </li>
    <li>
      <label for="occupation">Age_1</label>
      <p>{{income_form.Age_1}}</p>
    </li>

    <li>
      <label for="occupation">Occupation_1</label>
      <p>{{income_form.Occupation_1}}</p>
    </li>
    <li>
      <label for="income1">Annual_Income_1</label>
      <p>{{income_form.Annual_Income_1}}</p>
    </li>
    <li>
      <label for="fam_mem2_name">Family_Member2_Name </label>
      <p>{{income_form.Family_Member2_Name}}</p>
    </li>
    <li>
      <label for="relation2">Relation_With_Applicant2 </label>
      <p>{{income_form.Relation_With_Applicant2}}</p>
    </li>

    <li></li>
    <li>
      <label for="occupation">Age_2</label>
      <p>{{income_form.Age_2}}</p>
    </li>

    <li>
      <label for="occupation">Occupation_2</label>
      <p>{{income_form.Occupation_2}}</p>
    </li>
    <li>
      <label for="income2">Annual_Income_2</label>
      <p>{{income_form.Annual_Income_2}}</p>
    </li>
    <li>
      <label for="aadharcardno">Aadhar_Card_Number</label>
      <p>{{income_form.Aadhar_Card_Number}}</p>
    </li>
    <li>
      <label for="aadharcardimg">Aadhar_Card_Image</label>
      <p>{{income_form.Aadhar_Card_Image}}</p>
    </li>
    <li>
      <label for="rationcardno">Ration_Card_Number</label>
      <p>{{income_form.Ration_Card_Number}}</p>
    </li>
    <li>
      <label for="rationcardimg">Ration_Card_Image</label>
      <p>{{income_form.ApplicantRation_Card_Image_Name}}</p>
    </li>
    <li>
      <label for="elec_bill_no">Electricity_Bill_Number</label>
      <p>{{income_form.Electricity_Bill_Number}}</p>
    </li>
    <li>
      <label for="elec_bill_img">Electricity_Bill_Image</label>
      <p>{{income_form.Electricity_Bill_Image}}</p>
    </li>
    <li>
      <label for="elec_card_no">Election_Card_Number</label>
      <p>{{income_form.Election_Card_Number}}</p>
    </li>
    <li>
      <label for="elec_card_img">Election_Card_Image</label>
      <p>{{income_form.Election_Card_Image}}</p>
    </li>
    <li>
      <label for="witness1">Witness1_Full_Name</label>
      <p>{{income_form.Witness1_Full_Name}}</p>
    </li>
    <li>
      <!-- <p>Witness_1_Age</p> -->
      <label for="occupation">Witness_1_Age</label>
      <p>{{income_form.Witness_1_Age}}</p>
    </li>

    <li>
      <label for="witness1occupation">Witness1_Occupation_Details</label>
      <p>{{income_form.Witness1_Occupation_Details}}</p>
    </li>
    <li>
      <label for="witness1address">Witness1_Permanent_Address</label>
      <p>{{income_form.Witness1_Permanent_Address}}</p>
    </li>
    <li>
      <label for="w1_aadharcardno">Witness1_Aadhar_Card_Number</label>
      <p>{{income_form.Witness1_Aadhar_Card_Number}}</p>
    </li>

    <li>
      <label for="w1_aadharcardimg">Witness1_Aadhar_Card_Image</label>
      <p>{{income_form.Witness1_Aadhar_Card_Image}}</p>
    </li>

    <li>
      <label for="w1_sign_img">Witness1_Signature_Image</label>
      <p>{{income_form.Witness1_Signature_Image}}</p>
    </li>

    <li>
      <label for="witness2">Witness2_Full_Name</label>
      <p>{{income_form.Witness2_Full_Name}}</p>
    </li>
    <li>
      <!-- <p>Witness_2_Age</p> -->
      <label for="occupation">Witness2_Age</label>
      <p>{{income_form.Witness2_Age}}</p>
    </li>

    <li>
      <label for="witness2occupation">Witness2_Occupation_Details</label>
      <p>{{income_form.Witness2_Occupation_Details}}</p>
    </li>
    <li>
      <label for="witness2address">Witness2_Permanent_Address</label>
      <p>{{income_form.Witness2_Permanent_Address}}</p>
    </li>
    <li>
      <label for="w2_aadharcardno">Witness2_Aadhar_Card_Number</label>
      <p>{{income_form.Witness2_Aadhar_Card_Number}}</p>
    </li>

    <li>
      <label for="w2_aadharcardimg">Witness2_Aadhar_Card_Image</label>
      <p>{{income_form.Witness2_Aadhar_Card_Image}}</p>
    </li>

    <li>
      <label for="w2_sign_img">Witness2_Signature_Image</label>
      <p>{{income_form.Witness2_Signature_Image}}</p>
    </li>

    <li>
      <label for="app_sign_img">Applicant_Signature_Image</label>
      <p>{{income_form.Applicant_Signature_Image}}</p>
    </li>
    <li>
      <label for="app_passport_img">Applicant_Passport_Size_Image</label>
      <p>{{income_form.Applicant_Passport_Size_Image}}</p>
    </li>
    <li>
      <label for="app_date">Date_Of_Application</label>
      <p>{{income_form.Date_Of_Application}}</p>
    </li>

    <li>
      <label for="self_dec_sign_img">Self_Declaration_Certificate_Image</label>
      <p>{{income_form.Self_Declaration_Certificate_Image}}</p>
    </li>
  </ul>

  <button class="button1">
    Print Your Fuckin' Application
  </button>
  <script>
    function handlePrint(event) {
      event.preventDefault();
      window.print();
    }
    const btn = document.querySelector(".button1");
    btn.addEventListener("click", handlePrint);
    window.onafterprint = function(){
      console.log("Print successful")
    }

    window.onbeforeprint = function(){
      console.log("Before Print Successful")
    }
  </script>
</form>